<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div style='color:orange;'>
        <h1>EXAMPLE</h1>
        <em>Let's Learn</em>
        </div>

    <div style='color:red;'>    
        <ul>

<li>Game</li>
<ol>
   <span style='color:brown;'> <li>Temp</li></span>
    
</ol>
</ul>
</div>

<div style='color:green;'>
    <ul>
<li>Sport</li>
<ol>
    <span style='color:brown;'><li>Lopi</li></span>
</ol>
</ul>
</div>

<div style='color:blue'>
    <ul>
    <li>Football</li>
    <ol>
        <span style='color:brown;'><li>GAPO</li></span>
    </ol>

        </ul>
    </div>

    <img src="webdev.jpg" alt="pic not found">  <br>  <br>
    
    <a href ="https://www.google.com/">Google</a>

  

        <script src="" async defer></script>
    </body>
</html>