<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type ="text/css" href="style.css">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
       <label>
           <input type="checkbox">
           <div class="toggle">
               <span class="top_line common"></span>
               <span class="middle_line common"></span>
               <span class="bottom_line common"></span>

           </div>

           <div class="slide">
               <h1>MENU</h1>
               <ul>
                   <li><a href ="#"><i class ="fas fa-tv"></i>Dashboard</a></li>
                   <li><a href ="#"><i class ="fas fa-user"></i>User</a></li>
                   <li><a href ="#"><i class ="fas fa-comments"></i>Comments</a></li>
                   <li><a href ="#"><i class ="fas fa-folder"></i>dashboard</a></li>
                   <li><a href ="#"><i class ="fas fa-address-book"></i>Book</a></li>
                   <li><a href ="#"><i class ="fas fa-heart"></i>Heart</a></li>
                   <li><a href ="#"><i class ="fas fa-cogs"></i>Setting</a></li>
               </ul>
       </label>
        
        <script src="" async defer></script>
    </body>
</html>